@font-face {
    font-family: myFont;
    src: url(../font/LTWave-Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFont;
}

/* header section start */

.background {
    background-image: url(../images/background-image.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: right;
}
.bg-overlay {
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.3);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 80px;
}
.nav-links ul {
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav-links ul li {
    list-style: none;
}
.nav-links ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    position: relative;
}
.nav-links button {
    padding: 8px 10px;
    color: #FFFFFF;
    background-color: #D4155B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.nav-links button:hover {
    background-color: #c74e7a;
}
.nav-links li a::after {
    content: "";
    position: absolute;
    background-color: #D4155B;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -8px;
    transition: 0.3s ease-in-out;
}
.nav-links li a:hover {
    color: #D4155B;
}
.nav-links li a:hover::after {
    width: 100%;
}

.toggle-button {
    position: absolute;
    top: 40px;
    right: 80px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 34px;
    height: 24px;
    z-index: 2;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
}


.tagline {
    width: 50%;
    margin: 140px 120px;
}
.highlight {
    color: #D4155B;
    position: relative;
    animation-name: title;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes title {
    from {
        left: 0;
    }
    to {
        left: 40px;
        top: 2px;
    }
}
.tagline h1 {
    color: #FFFFFF;
    font-weight: bold;
}
.tagline p {
    margin: 18px 0;
    color: #FFFFFF;
}
.tagline button {
    padding: 8px 10px;
    color: #FFFFFF;
    background-color: #D4155B;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.tagline button:hover {
    background-color: #c74e7a;
    transform: scale(1.1);
}
/* ----header section end---- */

/* ----about section start---- */

.about-container {
    background-color: #D4155B;
    padding: 30px 120px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.about-image img {
    width: 486px;
    height: 324px;
    border-radius: 8px;
}
.about-text h3 {
    color: #D4155B;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
}
.about-text p {
    margin: 20px 0;
    text-align: start;
}
.about-text button {
    color: #D4155B;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.about-text button:hover {
    color: #000000;
}
/* -----about section end----- */

/* ----service section end---- */
.service-heading {
    text-align: center;
    margin: 30px 100px;
}
.service-heading h2 {
    margin-top: 10px;
    margin-bottom: 40px;
}
.service-heading img {
    width: 100%;
}
.service-content {
    margin: 0 100px;
}
.content-one {
    background-image: url(../images/service-image.jpg);
    height: 422px;
    width: 100%;
    background-size: cover;
    background-position: right;
}
.content-bg {
    height: 422px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.content-two {
    background-image: url(../images/service-image\ ii.jpg);
    height: 422px;
    width: 100%;
    background-size: cover;
    background-position: left;
    position: relative;
}
.content-one p {
    color: #FFFFFF;
    padding: 190px 60px;
    font-size: 24px;
    text-align: center;
    float: left;
    animation-name: anime;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} 
.content-two p {
    color: #FFFFFF;
    padding: 190px 60px;
    font-size: 24px;
    text-align: center;
    float: right;
    animation-name: anime-two;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes anime {
    from {
        color: #D4155B;
    }
    to {
       transform: translate(5%);
       color: #FFFFFF;
    }
}
@keyframes anime-two {
    from {
        color: #D4155B;
    }
    to {
       transform: translate(-5%);
       color: #FFFFFF;
    }
}
/* ----service section end---- */

/* gallery & product section start */
.g-heading,
.p-heading {
    text-align: center;
    margin: 40px 0;
    font-size: 22px;
}
.g-image,
.p-image {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.g-image img,
.p-image img {
    width: 340px;
    height: 380px;
    border-radius: 5px;
}
.p-image img {
    box-shadow: 0px 0px 5px 0px rgba(84, 84, 84, 0.5);
}
/* gallery & product section end */

/* ---footer section start--- */
.footer {
    margin-top: 30px;
    padding: 40px 100px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}
.about, .service,
.link, .contact {
    margin: 20px;
}
.footer-container h2 {
    color: #D4155B;
    margin-top: 20px;
    margin-bottom: 30px;
}
 .about {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about p {
    text-align: center;
    font-size: 14px;
}
.service ul li {
    list-style: none;
    padding: 2px 0;
}
.link a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 2px 0;
}
.contact p {
    padding: 3px 0;
}
.contact p i {
    padding: 3px;
    color: #D4155B;
}
.contact .address {
    display: flex;
    gap: 10px;
}
.social-icon i {
    padding: 8px 10px;
    color: #D4155B;
    cursor: pointer;
}
.copyright {
    text-align: center;
    margin-top: 30px;
    color: #D4155B;
}
/* ----footer section end---- */


/* -----media queries----- */

@media (max-width: 910px) {
    .toggle-button {
        display: flex;
    }
    .nav-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links ul {
        width: 100%;
        flex-direction: column;
        padding: 60px 0;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #303030;
        z-index: 1;
    }
    .nav-links li {
        text-align: center;
        margin: 2px;
    }
    .nav-links li a {
        padding: 0;
    }
    .nav-links.active {
        display: flex;
    }
}
@media (max-width: 545px) {
   .navbar {
    padding: 5px 20px;
   }
   .toggle-button {
    right: 30px;
   }
}
@media (max-width: 670px){
    .tagline {
        margin: 120px 40px;
        width: 70%;
    }
}


@media (max-width: 1100px){
    .about-container {
        flex-wrap: wrap;
        gap: 20px;
        padding: 30px 100px;
    }
    .about-text,
    .about-text h3,
    .about-text p {
        width: 100%;
        text-align: center;
    }
} @media (max-width: 560px){
    .about-container {
        padding: 20px;
    }
    .about-image img {
        width: 280px;
        height: 200px;
    }
}

@media (max-width: 810px) {
    .service-heading {
        margin: 30px 40px;
    }
    .service-content {
        margin: 0 40px;
    }
}
@media (max-width: 540px) {
    .service-heading {
        margin: 30px 30px;
    }
    .service-content {
        margin: 0 20px;
    }
    .content-one p {
        padding: 190px 20px;
        font-weight: 600;
        font-size: 22px;
    }
    .content-two p {
        padding: 190px 20px;
        font-weight: 600;
        font-size: 22px;
    }
}

@media (max-width: 400px) {
    .g-image img {
        width: 240px;
        height: 280px;
    }
}
@media (max-width: 400px) {
    .p-image img {
        width: 240px;
        height: 280px;
    }
}

@media (max-width: 1100px) {
    .footer {
        padding: 40px 60px;
    }
    .footer-container {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width: 495px) {
    .footer {
        padding: 40px 30px;
    }
}